<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, minimum-scale=1, width=device-width">
  <title>Error 404 (Not Found)!!!</title>
  <style>
    *{margin:0;padding:0}
    html,code{font:15px/22px arial,sans-serif}
    html{background:#fff;color:#222;padding:15px}
    body{margin:7% auto 0;max-width:50%;min-height:180px;padding:30px 0 15px;}
    img{width: 70%;float: left;}
    p{margin:11px 0 22px;overflow:hidden;font-size: 20px;}
    a img{border:0}
    @media (max-width: 390px) {
        body{padding-top: 100px;}
        img{float: none;width: 100%;}
    }
  </style>
</head>
<body>
  <a href='/'><span id="logo" aria-label="CodeBin"></span></a>
  <img src="https://www.kayako.com/_themes/novo/img/404-page/sleeping-kitten.gif">
  <h1>404 <codebin>not found</codebin></h1>
</body>
</html>

